<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark" th:fragment="header">
            <a class="navbar-brand" th:href="@{/}">Spring CRUD</a>
            <ul class="nav navbar-nav navbar-right navbar-expand-md">
                <!--<li th:if="${#authorization.expression('!isAuthenticated()')}" class="nav-item">-->
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a th:href="@{/login}" class="nav-link">&nbsp; Sign in </a>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a th:href="@{/users/registration}" class="nav-link">&nbsp; Sign up </a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a th:href="@{/users/{id}(id=${userId})}" class="nav-link m-auto">&nbsp; Profile </a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a th:href="@{/logout}" class="nav-link">&nbsp; Logout </a>
                </li>
            </ul>
        </nav>
    </body>
</html>