<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}" lang="en" xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>User info</title>
    </head>
    <body>
        <div layout:fragment="content">
            <p th:utext="${user.toStringHTML()}"></p>

            <div sec:authorize="hasRole('ADMIN')">
                <a href="/users"> RETURN_TO_USER_LIST </a>
            </div>
        </div>
    </body>
</html>