<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}" lang="en" xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>UserList</title>

        <script type="text/javascript">
            /*$(document).ready(function() {
                //alert("hi hi");
                $('.editBtn').on('click',function(event) {
                    event.preventDefault();
                    var href = $(this).attr('href');

                    $.get(href, function(userToEdit, status) {
                        $('#firstNameEdit').val(userToEdit.firstName);
                        $('#lastNameEdit').val(userToEdit.lastName);
                        $('#emailEdit').val(userToEdit.email);
                        $('#usernameEdit').val(userToEdit.username);
                        $('#passwordEdit').val(userToEdit.password);
                    });

                    $('#editModal').modal();
                });


                                                                , { // <- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                                                                headers: {
                                                                    'Accept': 'application/json'
                                                                }
                                                            }
            });*/
            fetch("/welcome/users").then(response => response.text())
                .then(response => console.log(response))
                .catch(function(err) {
                    console.log(err);
                });
        </script>
    </head>
    <body>
        <div layout:fragment="content">

            <div class="modal fade" id="editModal" role="dialog" aria-labelledby="editUserLabel" aria-hidden="true" th:fragment="modalEdit">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editUserLabel"> Edit User </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form th:method="PATCH" th:action="@{/users/{id}(id = ${user.getId()})}" th:object="${user}">
                                <label for="firstNameEdit"> Enter first name </label>
                                <input type="text" th:field="*{firstName}" id="firstNameEdit" required>
                                <div style="color: orangered" th:errors="*{firstName}"> Error </div>
                                <hr>

                                <label for="lastNameEdit"> Enter last name </label>
                                <input type="text" th:field="*{lastName}" id="lastNameEdit" required>
                                <div style="color: orangered" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"> Error </div>
                                <hr>

                                <label for="emailEdit"> Enter email </label>
                                <input type="email" th:field="*{email}" id="emailEdit" required>
                                <div style="color: orangered" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"> Error </div>
                                <hr>

                                <label for="usernameEdit"> Enter username </label>
                                <input type="text" th:field="*{username}" id="usernameEdit" required>
                                <div style="color: orangered" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"> Error </div>
                                <hr>

                                <label for="passwordEdit"> Enter password (hash) </label>
                                <input type="text" th:field="*{password}" id="passwordEdit" required>
                                <div style="color: orangered" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"> Error </div>
                                <hr>

                                <input type="submit" value="Update user">
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"> Close </button>
                            <button type="submit" class="btn btn-primary" > Update user(m)</button>
                        </div>
                    </div>
                </div>
            </div>

            <h1> ADMIN PAGE </h1>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" th:href="@{#list}"> User list</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" th:href="@{#add}"> Add user</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="list">
                    <table class="table table-hover">
                        <tr>
                            <th scope="col"> ID </th>
                            <th scope="col"> Name </th>
                            <th scope="col"> Surname </th>
                            <th scope="col"> Email </th>
                            <th scope="col"> Username </th>
                            <th scope="col"> Password </th>
                            <th scope="col"> Info </th>
                            <th scope="col"> Edit </th>
                            <th scope="col"> Delete </th>

                        </tr>
                        <tr  th:each="user : ${userList}">
                            <td th:utext="${user.getId()}"> ID </td>
                            <td th:utext="${user.getFirstName()}"> Name </td>
                            <td th:utext="${user.getLastName()}"> Surname </td>
                            <td th:utext="${user.getEmail()}"> Email </td>
                            <td th:utext="${user.getUsername()}"> Username </td>
                            <td th:utext="${user.getPassword()}"> Password </td>
                            <td>
                                <form th:action="@{/users/{id}(id=${user.getId()})}" th:method="GET">
                                    <button type="submit" class="btn btn-outline-info"> Link </button>
                                </form>
                            </td>
                            <td>
                                <!--<form th:action="@{/users/{id}/edit(id=${user.getId()})}" th:method="GET">
                                    <button type="submit" class="btn btn-primary"> Edit </button>
                                </form>
                                <a class="btn btn-outline-primary editBtn"  th:href="@{/users/{id}/edit(id=${user.getId()})}"> Edit </a>-->
                                <a class="btn btn-outline-primary"  th:href="@{users/edit/(id=${user.getId()})}"> Edit </a>

                            </td>
                            <td>
                                <form th:action="@{/users/{id}(id=${user.getId()})}" th:method="DELETE">
                                    <button type="submit" class="btn btn-danger"> Delete </button>
                                </form>
                            </td>
                        </tr >
                    </table>
                </div>

                <div class="tab-pane fade" id="add">
                    <div class="col-md-6 offset-md-3 mt-5">
                        <form th:method="POST" th:action="@{/users}" th:object="${user}">
                            <div class="form-group col-md-6 offset-md-3">
                                <label for="firstName" class="font-weight-bold d-flex justify-content-center"> Enter first name </label>
                                <input type="text" class="form-control" th:field="*{firstName}" id="firstName" required>
                                <div style="color: orangered" th:errors="*{firstName}"> Error </div>
                            </div>

                            <div class="form-group col-md-6 offset-md-3">
                                <label for="lastName" class="font-weight-bold d-flex justify-content-center"> Enter last name </label>
                                <input type="text" class="form-control" th:field="*{lastName}" id="lastName" required>
                                <div style="color: orangered" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"> Error </div>
                            </div>

                            <div class="form-group col-md-6 offset-md-3">
                                <label for="email" class="font-weight-bold d-flex justify-content-center"> Enter email </label>
                                <input type="text" class="form-control" th:field="*{email}" id="email" required>
                                <div style="color: orangered" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"> Error </div>
                            </div>

                            <div class="form-group col-md-6 offset-md-3">
                                <label for="username" class="font-weight-bold d-flex justify-content-center"> Enter username </label>
                                <input type="text" class="form-control" th:field="*{username}" id="username" required>
                                <div style="color: orangered" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"> Error </div>
                            </div>

                            <div class="form-group col-md-6 offset-md-3">
                                <label for="password" class="font-weight-bold d-flex justify-content-center"> Enter password </label>
                                <input type="text" class="form-control" th:field="*{password}" id="password" required>
                                <div style="color: orangered" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"> Error </div>
                            </div>

                            <th:block th:each="ro : ${roleList}">
                                <div class="form-group col-md-6 offset-md-3 form-check-inline">
                                    <label th:for="${ro.id}" th:text="${ro.name}" class="font-weight-bold d-flex justify-content-center"></label>
                                    <input type="checkbox" class="form-check-input" name="selectedRoles" th:id="${ro.id}" th:value="${ro.id}">
                                </div>
                            </th:block>

                            <div class="form-actions col-md-6 offset-md-3">
                                <button type="submit" class="btn btn-primary btn-lg btn-block"> Add user </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--<script type="text/javascript">
            // попытка через "куки" сохранять последнюю вкладку, чтобы при вводе неправильных данных,
            // и перезагрузке страницы, сразу открывалясь вкладка добавления
            $(document).ready(function() {
                //for bootstrap 3 use 'shown.bs.tab' instead of 'shown' in the next line
                $('a[data-toggle="add"]').on('click', function (e) {
                    //save the latest tab; use cookies if you like 'em better:
                    localStorage.setItem('lastTab', $(e.target).attr('href'));
                });

                //go to the latest tab, if it exists:
                var lastTab = localStorage.getItem('lastTab');

                if (lastTab) {
                    $('a[href="'+lastTab+'"]').click();
                }
            });
        </script>-->
    </body>
</html>