<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}"  lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>Prod'aksh_N x)</title>
    </head>
    <body>
        <div layout:fragment="content" class="col-md-8 offset-md-2 mt-5">
            <div>
                <th:block th:each="msg : ${messages}">
                    <h1 th:text="${msg}"></h1>
                </th:block>
            </div>

            <div sec:authorize="hasRole('ADMIN')">
                <a href="/users"> USER_LIST </a>
            </div>

        </div>
    </body>
</html>