<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}"  lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>Prod'aksh_N x)</title>

        <script type="text/javascript">
            fetch("/welcome")
            .then(response => response.text())
            .then(response => {
                document.getElementById('welcomeMsg').innerHTML = response;
            }).catch(function(err) {
                console.log(err)
            });
        </script>
    </head>
    <body>
        <div layout:fragment="content" class="col-md-8 offset-md-2 mt-5">
            <h1 id="welcomeMsg"> WELCOME </h1>
        </div>
    </body>
</html>